<!DOCTYPE html>
<html ng-app="SimpleFormsApp">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="css/styles.css">

    <title>Calcul Impôts</title>
  </head>
  <body ng-controller="CalculationController as calcCtrl">
    
    <fieldset class="container col-md-6 d-grid gap-2">

      <h1 class="text-center">Calcul Impôts</h1>

      <legend class="text-center">Estimez vos impôts en 1 clic</legend>
      <br/>

      <form name='regForm' class="needs-validation" novalidate>

        <div >

          <div class="input-group">
            <label class="input-group-text">Situation Familiale</label><br>
            <select class="form-select"
              aria-label="Default select example"
              ng-model="calcCtrl.decl.situationFamiliale"
              placeholder="sélectionnez"
              required>
              <option value="celibataire">Célibataire ou divorcé(e)</option>
              <option value="couple">Marié(e)s ou lié(e)s par un PACS</option>
              <option value="veuf">Veuf(ve)</option>
            </select>
          </div>
          <span ng-if="!calcCtrl.decl.situationFamiliale" class="small alert alert-warning">
            Indiquez la situation familiale qui vous correspond.
          </span> 
        <br/>   
        <br/>   
  
          <div class="input-group">
            <label class="input-group-text">Nombre d'enfants</label><br>
            <select class="form-select text-center"
              aria-label="Default select example"
              ng-model="calcCtrl.decl.nbEnfants">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value=""
              id="invalidCheck"
              ng-model="calcCtrl.decl.gardeAlternee"
              disabled>
            <label class="form-check-label" for="invalidCheck">
              Garde alternée
            </label>
          </div>
          <br/>   

          <div class="input-group">
            <span class="input-group-text">Salaire</span>
            <input type="number"
              min="0"
              step="1000"
              name="salaire"
              ng-model="calcCtrl.decl.salaire"
              class="form-control text-end"
              required>
            <div class="input-group-text">&euro;</div>
          </div>

          <div class="small">Indiquez votre salaire annuel net imposanle. Le montant affiché équivaut à {{ calcCtrl.arrondi(calcCtrl.decl.salaire / 12) | number}} &euro; net par mois</div>
          <br/>

          <div class="input-group">
            <span class="input-group-text">Charges</span>
            <input type="number" min="0" step="500"
              ng-model="calcCtrl.decl.charges"
              id="exampleInputAmount"
              class="form-control text-end"
              placeholder="(montant annuel)">
            <div class="input-group-text">&euro;</div>
          </div>

          <span class="small" ng-if="calcCtrl.decl.charges > 0">Indiquez le total annuel des charges et pensions que vous payez. Le montant affiché annuel équivaut à {{ calcCtrl.arrondi(calcCtrl.decl.charges / 12) | number}} &euro; par mois</span>
          <br/>
          <br/>

          <div class="container col-md-6"
          ng-show="calcCtrl.response">
      
            <span class="alert alert-success">Voici vos résultats:</span>
            <table class="table" id="responseTable">
              <tr>
                <th scope="row">Revenu Net Imposable</th>
                <td>{{ calcCtrl.response.revenuNetImposable | number }} &euro;</td>
              </tr>
              <tr>
                <th scope="row">Impôt</th>
                <td>{{ calcCtrl.response.impot | number }} &euro;</td>
              </tr>
            </table>  
          </div>
    
          <br/>

          <div class="container cold-md-6 small" ng-if="calcCtrl.response.details">
            <span class="alert alert-info">Détails du calcul</span>
            <table class="table">
              <tr ng-repeat="row in calcCtrl.response.details.rows">
                <td ng-if="row.label">
                  {{ row.label }}
                </td>
                <td ng-if="row.label" class="text-end">
                  {{ calcCtrl.displayNombre(row.nombre) }} {{ row.euros ? '&euro;' : '' }}
                </td>
                <td ng-if="row.text" colspan="2">
                  {{ row.text }}
                </td>
              </tr>
            </table>
          </div>
        </div>

        <br/>

        <div class="input-group">
          <div class="col-12">
            <button
              class="btn btn-primary"
              type="submit"
              ng-click="calcCtrl.submit()"
              ng-disabled="regForm.$invalid"
            >
            {{ calcCtrl.response ? 'Re-calculer' : 'Calcul Impôts' }}
          </button>
          </div>
          <span ng-if="!regForm.$valid" class="small alert alert-warning">Complétez le formulaire</span>  
        </div>

      </form>
    </fieldset>

    <br/>

    
    <script src="lib/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.8/angular-locale_fr-fr.js"></script>
    <script src="src/services/common.module.js"></script>
    <script src="src/services/impot.service.js"></script>

    <script src="src/app.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  </body>
</html>
