<div id="mainbody">

    <fieldset class="container col-md-6 d-grid gap-2">

      <h1 class="bd-title text-center">Taux d'Endettement</h1>

      <legend class="bd-lead text-center">Combien pouvez-vous rembourser ?</legend>
      <br/>

      <div class="small bd-example container text-justify">
        <p>Le principe du taux d'endettement est de vous assurer que vous n'aurez pas trop de crédits à rembourser, afin de ne pas vous mettre en difficulté.</p>
        <p>Les banques vont donc calculer votre <b>capacité d'emprunt</b> en comparant les revenus que vous recevez, et les charges et crédits sur lesquels vous êtes fermement engagé(e)s.</p>
        <p>Selon les banques et selon les périodes, le calcul peut varier et donnera différents résultats qui correspondent à différents niveaux de risque.</p>
        <p>Notre calculateur vous aide à faire le point et savoir combien vous pouvez rembourser pour un nouveau crédit.</p>

      </div>
  
      <form name='regForm' class="needs-validation" novalidate>

        <h2>Vos revenus</h2>

        <br/>

        <div class="input-group">
          <span class="input-group-text">Revenus</span>
          <input type="number"
            min="0"
            step="1000"
            ng-model="calcCtrl.decl.revenus.salaires"
            class="form-control text-end"
            required>
          <div class="input-group-text">&euro; / mois</div>
        </div>
        <span class="small alert alert-light">Indiquez vos revenus, salaire ou retraite avant impôts</span>  

        <br/>
        <br/>

        <div class="input-group">
          <span class="input-group-text">Pension(s)</span>
          <input type="number"
            min="0"
            step="500"
            ng-model="calcCtrl.decl.revenus.pensions"
            class="form-control text-end"
            required>
          <div class="input-group-text">&euro; / mois</div>
        </div>
        <span class="small alert alert-light">Indiquez si vous recevez une pension alimentaire ou autre allocation</span>  

        <br/>   
        <br/>   

        <h2>Vos charges financières</h2>
        <div>

          <br/>   

          <div class="input-group">
            <span class="input-group-text">Crédit(s) de dépenses</span>
            <input type="number"
              min="0"
              step="500"
              ng-model="calcCtrl.decl.charges.creditsDepenses"
              class="form-control text-end"
              required>
            <div class="input-group-text">&euro; / mois</div>
          </div>
          <span class="small alert alert-light">Indiquez la mensualité de vos crédit auto, conso</span>  

          <br/>   
          <br/>   

          <div class="input-group">
            <span class="input-group-text">Crédit(s) de résidence</span>
            <input type="number"
              min="0"
              step="500"
              ng-model="calcCtrl.decl.charges.creditsResidences"
              class="form-control text-end"
              required>
            <div class="input-group-text">&euro; / mois</div>
          </div>
          <span class="small alert alert-light">Indiquez vos crédit immo pour résidence secondaire, principale ou autre</span>  

          <br/>   
          <br/>   

          <div class="input-group">
            <span class="input-group-text">Loyer(s)</span>
            <input type="number"
              min="0"
              step="500"
              ng-model="calcCtrl.decl.charges.loyers"
              class="form-control text-end"
              required>
            <div class="input-group-text">&euro; / mois</div>
          </div>
          <span class="small alert alert-light">Indiquez le(s) loyer(s) que vous continuerez à payer après l'emprunt visé.</span>  

          <br/>   
          <br/>   

          <div class="input-group">
            <span class="input-group-text">Pension(s)</span>
            <input type="number"
              min="0"
              step="500"
              ng-model="calcCtrl.decl.charges.pensions"
              class="form-control text-end"
              required>
            <div class="input-group-text">&euro; / mois</div>
          </div>
          <span class="small alert alert-light">Indiquez si vous payez une pension alimentaire ou autre</span>  
  
          <br/>
          <br/>

          <h2>Vos investissements locatifs</h2>
          <div>

            <br/>
            
            <div class="input-group">
              <span class="input-group-text">Loyer(s)</span>
              <input type="number"
                min="0"
                step="500"
                ng-model="calcCtrl.decl.investissements[0].loyer"
                class="form-control text-end"
                required>
              <div class="input-group-text">&euro; / mois</div>
            </div>
            <span class="small alert alert-light">Indiquez les loyez que vous recevez de vos locataires</span>  

            <br/>
            <br/>
            
            <div class="input-group">
              <span class="input-group-text">Crédit Immo(s)</span>
              <input type="number"
                min="0"
                step="500"
                ng-model="calcCtrl.decl.investissements[0].credit"
                class="form-control text-end"
                required>
              <div class="input-group-text">&euro; / mois</div>
            </div>
            <span class="small alert alert-light">Indiquez les crédit rattachés à vos investissements immobiliers et loyers reçus.</span>  

          <br/>   
          <br/>   

          <span class="alert alert-info" ng-if="calcCtrl.scenarios">
            Résumé - Votre capacité d'emprunt
          </span>
          <table class="table" id="id-table">
            <tr ng-repeat="row in calcCtrl.scenarios">
              <td>
                {{ row.name }}
              </td>
              <td>
                {{ calcCtrl.displayNombre(row.capaciteEmprunt) }} &euro;/mois
              </td>
            </tr>
            <tr ng-if="calcCtrl.scenarios">
              <td class="small" colspan="2">
                Voir <a class="link" ui-sref="calculCredit">combien emprunter</a> avec ces capacités de remboursement.
              </td>  
            </tr>
            </table>

          <div class="container cold-md-6 small" ng-if="calcCtrl.scenarios">
            <div ng-repeat="row in calcCtrl.scenarios">
              <span class="alert alert-info">Explications - Calcul {{ row.name }}</span>
              <p>
                Avec un calcul
                "{{ row.name }}", nous allons compter pour vos revenus:
              </p>
              <ul>
                <li ng-repeat="r in row.revenus">
                  {{ r.type }}: 
                  {{ calcCtrl.displayNombre(r.montant) }} &euro;/mois
                </li>
              </ul>
              <p>
                et pour vos charges financières
              </p>
              <ul>
                <li ng-repeat="rr in row.chargesFinancieres">
                  {{ rr.type }}: 
                  {{ calcCtrl.displayNombre(rr.montant) }} &euro;/mois
                </li>
              </ul>
              <p>
                ce qui vous fait taux d'endettement de
                {{ calcCtrl.displayNombre(row.tauxEndettement * 100)}} %
                et il vous reste une capacité d'emprunt de
                {{ calcCtrl.displayNombre(row.capaciteEmprunt) }} &euro;/mois  
              </p>
            </div>
          </div>

          <br/>
          <br/>

          <div class="input-group">
            <div class="col-12">
              <button
                class="btn btn-primary"
                type="submit"
                ng-click="calcCtrl.submit()"
              >
              {{ calcCtrl.scenarios ? "Re-" : "" }}Calculer le taux d'endettement et capacité d'emprunt
            </button>
            </div>
          </div>


      </form>
    </fieldset>


  </div>